<section style="margin-top: 3%">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://media2.giphy.com/media/O7tVIEmXGgXvfUF0RI/giphy.gif?cid=ecf05e47cnhb3imkr80do3czfxnajvt5huvm9fxeqt25wstx&rid=giphy.gif&ct=s"
          class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3">{{ titulo }}</p>
          <button type="button" class="btn btn-floating mx-1" style="background-color: rgb(20, 40, 80)"></button>

          <button type="button" class="btn btn-floating mx-1" style="background-color: rgb(20, 40, 80)"></button>

          <button type="button" class="btn btn-floating mx-1" style="background-color: rgb(20, 40, 80)"></button>
        </div>

        <div class="divider d-flex align-items-center my-4"></div>

        <!-- Logeo -->
        <form [formGroup]="form" (ngSubmit)="login()" *ngIf="estado === false">
          <div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"> &nbsp;@</span>
                <input type="email" id="form3Example3" class="form-control form-control-lg" placeholder="Email..."
                  formControlName="email" />
              </div>
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                <div *ngIf="email?.errors?.['required']">
                  El email es requerido
                </div>
                <div *ngIf="email?.errors?.['email']">
                  El formato del email no es valido
                </div>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">🔒</span>
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Contraseña..." formControlName="Password" />
              </div>
              <div *ngIf="
                  Password?.invalid && (Password?.dirty || Password?.touched)
                " class="text-danger">
                <div *ngIf="Password?.errors?.['required']">
                  La contraseña es requerida
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Recuerdame
              </label>
            </div>
            <a href="#!" class="text-body">Olvidaste la contraseña?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-lg" style="
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                background-color: rgb(20, 40, 80);
                color: white;
              ">
              Iniciar
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              No tienes cuenta?
              <a class="link-danger" (click)="cambioRegistrarse()" style="cursor: pointer">Registrarse</a>
            </p>
          </div>
        </form>

        <!-- REGISTER -->
        <form [formGroup]="formRegister" (ngSubmit)="register()" *ngIf="estado === true">
          <!-- Nombre input -->
          <div class="form-outline mb-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"> 😎</span>
              <input type="Nombre" class="form-control form-control-lg" placeholder="Nombre..."
                formControlName="nombre" />
            </div>
            <div *ngIf="Nombre?.invalid && (Nombre?.dirty || Nombre?.touched)" class="text-danger">
              <div *ngIf="Nombre?.errors?.['required']">
                El nombre es requerido
              </div>
            </div>
          </div>
          <!-- Apellido input -->
          <div class="form-outline mb-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">😉</span>
              <input type="Apellido" class="form-control form-control-lg" placeholder="Apellido..."
                formControlName="apellido" />
            </div>
            <div *ngIf="Apellido?.invalid && (Apellido?.dirty || Apellido?.touched)" class="text-danger">
              <div *ngIf="Apellido?.errors?.['required']">
                El Apellido es requerido
              </div>
            </div>
          </div>
          <!-- Dni input -->
          <div class="form-outline mb-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">🙂</span>
              <input type="Dni" class="form-control form-control-lg" placeholder="Dni..." formControlName="dni" />
            </div>
            <div *ngIf="Dni?.invalid && (Dni?.dirty || Dni?.touched)" class="text-danger">
              <div *ngIf="Dni?.errors?.['required']">El Dni es requerido</div>
            </div>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">🤖</span>
              <input type="Email" class="form-control form-control-lg" placeholder="Email..." formControlName="email" />
            </div>
            <div *ngIf="emailR?.invalid && (emailR?.dirty || emailR?.touched)" class="text-danger">
              <div *ngIf="emailR?.errors?.['required']">
                El email es requerido
              </div>
              <div *ngIf="emailR?.errors?.['email']">
                El formato del email no es valido
              </div>
            </div>
          </div>
          <!-- Pasword input -->
          <div class="form-outline mb-4">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">🔒</span>
              <input type="password" class="form-control form-control-lg" placeholder="Password..."
                formControlName="pasword" />
            </div>
            <div *ngIf="
                PasswordR?.invalid && (PasswordR?.dirty || PasswordR?.touched)
              " class="text-danger">
              <div *ngIf="PasswordR?.errors?.['required']">
                El Password es requerido
              </div>
            </div>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-lg" style="
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                background-color: rgb(20, 40, 80);
                color: white;
              ">
              Registrarse
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Ya tienes cuenta?
              <a class="link-danger" (click)="cambioLogin()" style="cursor: pointer">Iniciar Sesion</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>