<div class="card border-success" style="margin-left: 15%; background-color: rgb(15, 3, 46);">
    <div class="card-header border-success">
        Ultimos Movimientos
    </div>
    <div class="card-body">
        <h5 class="card-title">Mis Ultimos Movimientos</h5>
        <p class="card-text">
        <table class="table border-success text-white">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="btn btn-primary" style>Ver Todo</a>
    </div>
</div>