<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid row">
    <div class="col-3"></div>
    <div class="col-3">
      <a class="navbar-brand" href="#">PIL 2022</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-3" *ngIf="usuario !== null ">
      <p>Usuario: {{usuario}}</p>
    </div>
    <div class="col-3" *ngIf="usuario !== null ">
      <button type="button" class="btn btn-info" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg" style="background-color: rgb(15, 23, 39);;" *ngIf="usuario !== null ">
  <div class="container-fluid row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col text-white">

      <a class="nav-link active" aria-current="page" routerLink="/home"><i class="fa fa-home fa-2x"></i> Inicio</a>
    </div>
    <div class="col text-white">
      <a class="nav-link active" routerLink="/acerca-de"><i class="fa fa-info fa-2x"></i> Acerca de PIL</a>
    </div>
    <div class="col text-white">
      <a class="nav-link active" routerLink="/quienes-somos"><i class="fa fa-question fa-2x"></i> Quienes Somos</a>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</nav>