<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-6">
                <div class="card border-success text-white"
                    style="width: 100%; margin: 1%; background-color: rgb(20, 40, 80);">
                    <div class="card-header border-success">
                        <img src="./assets/PIL-Nuevas-Tecnologías.jpg" class="card-img-top" alt="Foto PIL">
                    </div>
                    <div class="card-body doi">
                        <h5 class="card-title">Programa de Inserción Laboral (PIL)</h5>
                        <p class="card-text">El Programa de Inserción Laboral (PIL) tiene como objetivo promover la
                            inserción laboral de los trabajadores y trabajadoras de las nuevas tecnologías a fin de que
                            las mismas se familiarezen con la realidad actual, sus tecnologías y la experiencia que se
                            necesita.</p>
                        <p>Este mismo programa cuenta con 4 tipos de capacitaciones diferentes: </p>
                        <ul>
                            <li>Modalidad Full Stack Junior .NET.</li>
                            <li>Modalidad Full Stack Junior Python.</li>
                            <li>Modalidad Testing QA.</li>
                            <li>Modalidad Python – Base de Datos</li>
                        </ul>
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-4"><a
                                    href="https://www.cordobatechnology.com/ctc/programas-proyectos/programa-de-insercion-laboral-en-nuevas-tecnologias-edicion-2022"
                                    class="btn btn-primary">Mas info</a></div>
                            <div class="col-4"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card border-success text-white"
                    style="width: 100%; margin: 1%; background-color: rgb(20, 40, 80);">
                    <div class="card-body doi row">
                        <div class="col-12">
                            <h5 class="card-title text-center">Algunas tecnologías que se usaran: </h5>
                        </div>
                        <div class="col-2"><img src="" alt="logo HTML"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>