<div class="row">
    <div style="padding: 5px">
        <div class="card border-success mb-3" style="background-color: rgb(20, 40, 80)">
            <div class="card-header bg-transparent border-success text-white">
                <div class="col-3">
                    <a class="navbar-brand me-2">
                        <img src="https://iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico"
                            height="150" alt="MDB Logo" loading="lazy" style="margin-top: 5px" /> </a>
                </div>
                <div class="col-9">
                    <p>hola</p>
                </div>
            </div>
            <div class="card-body text-white row">
                <h5 class="card-title col-12">Fondos de mi billetera</h5>
                <h4 class="card-text col-3">Pesos:</h4>
                <h4 class="text-center col-5">

                </h4>
            </div>
            <div class="card-footer bg-transparent border-success"></div>
        </div>
    </div>
</div>