<h4 class="text-center mt-3 text-white">Ingrese el monto a depositar en su cuenta</h4>
<div class="grid">
<div class="row">
  <div class="col-12 col-lg-9">
    <div class="input-group mb-3">
      <span class="input-group-text">AR$</span>
      <input type="number" [(ngModel)]="monto" class="form-control" aria-label="Amount (to the nearest dollar)" min="0">
    </div>
  </div>
  <div class="col-12 col-lg-3 buttonDiv">
    <button type="button" (click)="depositar()" class="btn btn-primary" [disabled]="!deshabilitado()">Depositar</button>
  </div>
</div>
<!-- <div *ngIf="response === true && isLoading === false" class="alert alert-success" role="alert">
  Deposito realizado con exito
</div>
<div *ngIf="response === false && isLoading === false" class="alert alert-danger" role="alert">
  ERROR ❌ Intente más tarde
</div> -->
</div>