<div class="row" style="margin-left: 19%;">
    <div style="padding: 5px;">
        <div class="card border-success mb-3" style="max-width: 18rem; background-color: rgb(20, 40, 80)">
            <div class="card-header bg-transparent border-success text-white">Cotizaciones</div>
            <div class="card-body text-success">
                <h5 class="card-title">Actualidad</h5>
                <div class="">
                    <div class="shadow-sm p-3 my-1 bg-body rounded">
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-1 bg-body rounded">BitCoin
                </div>
                <div class="shadow-sm p-3 mb-1 bg-body rounded">ethereum</div>
            </div>
            <div class="card-footer bg-transparent border-success"></div>
        </div>
    </div>
</div>