<div class="row" style="margin-left: 19%;">
    <div style="padding: 5px;">
        <div class="card border-success mb-3" style="max-width: 18rem; background-color: rgb(20, 40, 80)">
            <div class="card-header bg-transparent border-success text-white">Cotizaciones</div>
            <div class="card-body text-success">
                <h5 class="card-title">Actualidad</h5>
                <div class="shadow-sm p-3 my-1 rounded crypto text-white" *ngFor="let c of cotizaciones">
                    <img src="{{c.icon}}" class="img-thumbnail" alt="...">{{c.name}} - {{c.price|currency}}
                </div>
            </div>
            <div class="card-footer bg-transparent border-success"></div>
        </div>
    </div>
</div>