<div class="jumbotron">
    <div class="row">
        <div style="padding: 5px;">
            <div class="card border-success mb-3" style="max-width: 18rem; background-color: rgb(15, 3, 46);">
                <div class="card-header bg-transparent border-success text-white">Mi Billetera</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Fondos de mi billetera</h5>
                  <p class="card-text">Pesos: </p>
                  <p class="card-text">Dolares: </p>
                  <p class="card-text">Ethereum: </p>
                </div>
                <div class="card-footer bg-transparent border-success"></div>
            </div>
        </div>
    </div>
</div>