<!-- Header-->
<header class="bg-dark py-5">
  <br />
  <br />
  <br />
  <br />
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h3 class="display-6 fw-bolder text-white mb-3">Proyecto</h3>
          <h3 class="display-6 fw-bolder text-white mb-3">Pil Grupo E/5</h3>
          <p class="lead text-white-50 mb-4">
            El Programa de Inserción Laboral (PIL) tiene como objetivo promover
            la inserción laboral de los trabajadores y trabajadoras con mayores
            dificultades de empleabilidad, brindando a las empresas que los
            contrate una ayuda económica que podrán descontar del salario a
            abonar a la trabajadora o al trabajador.
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" routerLink="/home"
              >Entrar</a
            >
            <a
              class="btn btn-outline-light btn-lg px-4"
              routerLink="/quienes-somos"
              >Quienes Somos?</a
            >
            <a class="btn btn-outline-light btn-lg px-4" routerLink="/acerca-de"
              >Acerca de</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</header>
