<div class="row">
  <div style="padding: 5px">
    <div class="card border-success mb-3" style=" background-color: rgb(20, 40, 80)">
      <div class="card-header bg-transparent border-success text-white">
        <a class="navbar-brand me-2">
          <img
            src="https://media1.giphy.com/media/Tz87fTUhkdG8kquPoP/giphy.gif?cid=ecf05e47elmcoph2wwrjadu2c66vmlb2i4fsktvrcyhgbfv7&rid=giphy.gif&ct=s"
            height="40" alt="MDB Logo" loading="lazy" style="margin-top: -1px" /> </a>Cotizaciones
      </div>
      <div class="card-body text-white">
        <h5 class="card-title">Actualidad</h5>
        <div class="shadow-sm p-3 my-1 rounded crypto text-white" *ngFor="let c of cotizaciones">
          <img src="{{ c.icon }}" class="img-thumbnail" alt="..." />{{
          c.name
          }}
          - {{ c.price | currency }}
        </div>
      </div>
      <div class="card-footer bg-transparent border-success"></div>
    </div>
  </div>
</div>