<div class="row">
    <div style="padding: 5px;" class="billetera">
        <div class="card border-success mb-3" style="background-color: rgb(20, 40, 80);">
            <div class="card-header bg-transparent border-success text-white">Mi Billetera</div>
            <div class="card-body text-success row">
                <h5 class="card-title col-12">Fondos de mi billetera</h5>
                <p class="card-text col-3">Pesos:</p>
                <h5 class="text-center col-5">{{userActual && userActual.monto|currency}}</h5>
            </div>
            <div class="card-footer bg-transparent border-success"></div>
        </div>
    </div>
</div>